<div class="ops-sm-3 sidebar">
  <div class="sidebar-links">
      <a href="{% url 'writerdashboard' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/orders.svg" class="icon-badge"> Available orders <div class="side-badge"> {{paid_count}}</div>
          </div>
      </a>
  </div>
 
  <div class="sidebar-links">
      <a href="{% url 'bids' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/bid.svg" class="icon-badge"> Bids <div class="side-badge">{{bid_orders_count}}</div>
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="{% url 'assigned_orders' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/users.svg" class="icon-badge"> Assigned orders <div class="side-badge">{{progress_orders_count}}</div>
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="{% url 'completed_orders' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/payments.svg" class="icon-badge"> Completed orders <div class="side-badge">{{completed_orders_count}}</div>
          </div>
      </a>
  </div>
 
  <div class="sidebar-links">
      <a href="{% url 'editing_orders' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/edit.svg" class="icon-badge"> Orders in Editing <div class="side-badge">{{editing_orders_count}}</div>
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="{% url 'revision_orders' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/chrome.svg" class="icon-badge"> Revisions orders <div class="side-badge">{{revision_orders_count}}</div>
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="{% url 'approved_orders' %}">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/reviews.svg" class="icon-badge"> Approved orders <div class="side-badge">{{approved_orders_count}}</div>
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/finances.svg" class="icon-badge"> Finances
          </div>
      </a>
  </div>
  
  <div class="sidebar-links">
      <a href="">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/alerts.svg" class="icon-badge"> Announcements
          </div>
      </a>
  </div>
  <div class="sidebar-links">
      <a href="">
          <div class="side-text">
              <img src="https://templates.essaywpthemes.com/order/assets/images/settings.svg" class="icon-badge"> Account Settings
          </div>
      </a>
  </div>

  <br />
</div>