<div class="ops-sm-3 sidebar">

    <div class="side-order-btn">
        <a href="{% url 'orderform' %}">
            <div class="text-white"><img src="https://templates.essaywpthemes.com/order/assets/images/cart.svg"> Place New Order </div>
        </a>
    </div>
    <div class="sidebar-links">
        <a href="{% url 'dashboard' %}">
            <div class="side-text">

                <img src="https://templates.essaywpthemes.com/order/assets/images/orders.svg" class="icon-badge"> My Orders <div class="side-badge">{{orders_count}}</div>
            </div>
        </a>
    </div>

    <div class="sidebar-links">
        <a href="{% url 'order_messages' %}">
            <div class="side-text">
                <img src="https://templates.essaywpthemes.com/order/assets/images/messages.svg" class="icon-badge"> Messages <div class="side-badge">0</div>
            </div>
        </a>
    </div>

    <div class="sidebar-links">
        <a href="">
            <div class="side-text">
                <img src="https://templates.essaywpthemes.com/order/assets/images/bid.svg" class="icon-badge"> Discounts
            </div>
        </a>
    </div>

    <div class="sidebar-links">
        <a href="">
            <div class="side-text">
                <img src="https://templates.essaywpthemes.com/order/assets/images/pay.svg" class="icon-badge"> Transactions
            </div>
        </a>
    </div>

    <div class="sidebar-links">
        <a href="">
            <div class="side-text">
                <img src="https://templates.essaywpthemes.com/order/assets/images/settings.svg" class="icon-badge"> Edit Profile
            </div>
        </a>
    </div>

    <!--
    <div class="ops-sm-12 alert alert-info text-center">
        <h6> Tip Writer </h6>
        <hr />

        <form role="form" name="form" id="myform" action="https://templates.essaywpthemes.com/order/Corders/tipwriter" method="POST">

            <div class="form-group row">
                <label class="ops-sm-12 text-left">Writer/Editor ID</label>
                <input type="number" value="" name="writer_id" class="form-control ops-sm-12 border-default" placeholder="Enter ID" required>

            </div>

            <br />

            <div class="form-group row">
                <label class="ops-sm-12  text-left">Amount </label>
                <input type="number" min="15" value="" name="tipamount" class="form-control ops-sm-12 border-default" placeholder="Amount" required>

            </div>

            <div class="form-group row">
                <button type="submit" class="btn-outline btn-xl js-scroll-trigger">Tip Writer</button>

            </div>


        </form>

    </div>

-->


    <br />
</div>