 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Accounting Birdie</span>
          </a>
          <p>Our essays are NOT intended to be forwarded
            as finalized work as it is only strictly meant to
            be used for research and study purposes. We 
            do not endorse or condone any type of 
            plagiarism.
          </p>
          <!-- <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
    
        <div class="col-lg-2 col-6 footer-links">
          <h4>Legal</h4>
          <ul>
            <li><a href="terms">Refund Policy</a></li>
            <li><a href="terms">Terms of service</a></li>
            <li><a href="terms">Privacy policy</a></li>
            <li><a href="terms">Affiliate program</a></li>
          </ul>
        </div>
    
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="login">Register</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="about">About Us</a></li>
          </ul>
        </div>
    
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +1 914 430 5672<br>
            <strong>Email:</strong> info@accountingbirdie.com<br>
          </p>
          <!-- <img src="imgs/paypal-checkout.png" alt="" width="120px"> -->
          <!-- <img src="imgs/cards.png" alt=""> -->
    
        </div>
    
      </div>
    </div>
    
    <div class="container mt-4">
      <div class="copyright">
        &copy; 2023 <strong><span>AccountingBirdie</span></strong>. All Rights Reserved
      </div>
    </div>
    
    </footer><!-- End Footer -->
    <!-- End Footer -->
    
    
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    <div id="preloader"></div>