

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Top Writers Admin</title>

  

  <link href="https://templates.essaywpthemes.com/order/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/116a312519.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Lato:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <script src="https://templates.essaywpthemes.com/order/public/bootstrap/js/jquery.min.js"></script>
  <script src="https://templates.essaywpthemes.com/order/public/bootstrap/js/bootstrap.min.js"></script>
  <!-- Custom fonts for this template -->
  <script src="https://kit.fontawesome.com/f53431686e.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/116a312519.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/font.css">
  <!-- Custom styles for this template -->
  <link href="https://templates.essaywpthemes.com/order/public/admin/freelancer.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/static/css/awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dash.css">
  

</head>

<body id="page-top">
    <section class="" id="portfolio">

        <div class="container">
            <div class="row">
                
                

                <div class="wrapper">

                    <div class="sign-in-page">
                        <div class="signin-popup">
                            <div class="signin-pop">
            
            
            
                                <div class="loginrow">
                                    <div class="col-lg-5 bg-lightone d-none d-md-block">
                                        <div class="cmp-info">
                                            <div class="cm-logo">
                                                
                                                <h3>Academic Writing</h3>
                                                <p>Even if you don’t have sufficient statistics or ratings, we’ve got your back! You will still be able to get plenty of orders any time.</p>
                                            </div><!--cm-logo end-->
            
                                        </div><!--cmp-info end-->
                                    </div>
            
            
                                    <div class="col-lg-7">
                                        <div class="login-sec">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="side-order-btn"><a class="text-white text-center" href="">Top Writers Admin </a></p>
                                                </div>
                                                
                                                 
                                                <div class="col-sm-9">
                                                    
                                                    <div class="intro-text">
                                                        <h4>Sign In</h4>
                                                        <p>Access Academic Writing panel using your username and password.</p>
                                                    </div>
                                                    <div class="sign_in_sec current" id="tab-1">
                                                        <form action="/accounts/writerslogin" method="POST">
                                                            <input type="hidden" name="csrfmiddlewaretoken" value="m2RokuuybbCLdsXMpjYgopG0sYvHKYKLBTaUhr46B2ECe6Zds37XgTy7HW2NA6sz">
                                                            <div class="row">
                                                                <div class="col-lg-12 no-pdd">
                                                                    <label class="form-label" for="username">Username</label>
                                                                    <div class="sn-field">
                                                                        <input type="text" class="text-dark" name="username" placeholder="Username">
                                                                        <i class="la la-user"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 no-pdd">
                                                                    <label class="form-label" for="password">Password</label>
                                                                    <div class="sn-field">
                                                                        <input type="password" class="text-dark" name="password" placeholder="Password">
                                                                        <i class="la la-lock"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 no-pdd">
                                                                    <div class="checky-sec">
                                                                        <a href="/accounts/writersregister" title="">Register as a Writer?</a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 no-pdd">
                                                                    <button type="submit" value="submit">Sign in</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div><!--sign_in_sec end-->
                                                </div>
                                            </div>
                                        </div><!--login-sec end-->
                                    </div>
                                    
                                    
                                </div>
            
            
                            </div><!--signin-pop end-->
                        </div><!--signin-popup end-->
            
                    </div><!--sign-in-page end-->
            
            
                </div><!--theme-layout end-->
        
            </div>
            
            <div class="col-sm-10 dash-home">

                
               
                <script src="https://templates.essaywpthemes.com/order/public/assets/js/Chart.min.js"></script>
                <script src="https://templates.essaywpthemes.com/order/public/assets/js/utils.js"></script>
      
              </div>
    
          </div>

    </section>

</body>

 

 
   


     
        

          

          