{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Top Writers Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{%static 'admin/fonts/linearicons/style.css'%}">
		
		<!-- STYLE CSS -->
		
		<link rel="stylesheet" href="{% static 'css/styler.css'%}">

		<!--JQUERY FORM VALIDATOR-->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js"></script>

	</head>

	<body>
        <div class="background"></div>

		<div class="wrapper">
			<div class="inner">
				<img src="/static/images/image-1.png" alt="" class="image-1">
				<form action="{% url 'writersregister' %}" method="POST">
					{% csrf_token %}
					<span><img src="/static/img/compellinglogo.png" alt="compellinglogo"></span>
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="username" placeholder="Username" pattern="[a-zA-Z0-9]+" data-validation="length alphanumeric" data-validation-length="3-12" required >
					</div>
					<div class="form-holder">
						<span class="lnr lnr-mustache"></span>
						<input type="text" class="form-control" name="first_name" placeholder="First name"pattern="[a-zA-Z0-9]+" data-validation="length alphanumeric" data-validation-length="3-12"  required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-mustache"></span>
						<input type="text" class="form-control" name="last_name" placeholder="Last name" pattern="[a-zA-Z0-9]+" data-validation="length alphanumeric" data-validation-length="3-12" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="tel" id = "phone" pattern="[012][0-9]{9}" class="form-control" placeholder="Phone Number" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" name="email" placeholder="Mail" data-validation="email" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" id="password" class="form-control" name="password" placeholder="Password"  pattern=".{8,}" title="Password must be at least 8 characters" data-validation="length" data-validation-length="min8" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" id="confirm-password" class="form-control" name="password2" placeholder="Confirm Password" data-validation="confirmation" data-validation-confirm="password" required>
					</div>
					<button type="submit" value="submit">
						<span>Register</span>
					</button>
					<div class="checky-sec">
						<a href="{% url 'writerslogin' %}" title="">Log In Instead?</a>
					</div>
				</form>
				<img src="/static/images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{%static 'vendor/jquery/jquery-3.3.1.min.js'%}"></script>
		<script src="{%static 'js/main2.js'%}"></script>
		
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>