{% load static %} 
<div data-elementor-type="header" data-elementor-id="69921" class="elementor elementor-69921 elementor-location-header" data-elementor-settings="[]">
  <div class="elementor-section-wrap">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-793ec979 elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="793ec979" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #043c04;">
      <div class="elementor-container elementor-column-gap-narrow">
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-66780515" data-id="66780515" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-349a3259 elementor-widget elementor-widget-heading" data-id="349a3259" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <p class="elementor-heading-title elementor-size-default">NEED A PERFECT PAPER? PLACE YOUR FIRST ORDER AND SAVE 15% USING COUPON:</p>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2cc93b8d" data-id="2cc93b8d" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-3d242c9d elementor-widget elementor-widget-button" data-id="3d242c9d" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper">
                  <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                    <span class="elementor-button-content-wrapper">
                      <span class="elementor-button-text">FIRST15</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-305b6864 elementor-hidden-phone elementor-section-full_width" >
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-604b714f" data-id="604b714f" data-element_type="column">
              <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-3f11e23b elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="3f11e23b" data-element_type="widget" data-widget_type="theme-site-logo.default">
                  <div class="elementor-widget-container">
                    <a href="{% url 'home' %}">
          <img style="max-width: 300px; max-height: 85px;" src="{% static 'img/compellinglogo.png' %}" class="attachment-full size-full" alt="" loading="lazy" />
          </a>

                  </div>
                </div>
              </div>
            </div>
           
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-12a5e6b9" data-id="12a5e6b9" data-element_type="column" style="margin-right: 60px;">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-64b5adf6 elementor-nav-menu__align-center elementor-nav-menu--indicator-classic elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="64b5adf6" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
                  <div class="elementor-widget-container">
                      <nav role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                        <ul id="menu-1-64b5adf6" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-958 current_page_item menu-item-837"><a href="{% url 'home' %}" aria-current="page" class="elementor-item elementor-item-active">Home</a></li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-838"><a href="{% url 'about' %}" class="elementor-item">About</a></li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840"><a href="{% url 'Contact_us' %}" class="elementor-item">Contact</a></li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69845"><a href="{% url 'services' %}" class="elementor-item">Services</a></li>
                        </ul>
                      </nav>
                      <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
                        <i class="eicon-menu-bar" aria-hidden="true"></i>
                        <span class="elementor-screen-only">Menu</span>
                      </div>
                      <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
                        <ul id="menu-2-64b5adf6" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-958 current_page_item menu-item-837"><a href="{% url 'home' %}" aria-current="page" class="elementor-item elementor-item-active">Home</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-838"><a href="{% url 'about' %}" class="elementor-item" style="color: #699a9e;">About</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840"><a href="{% url 'Contact_us' %}" class="elementor-item">Contact</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69845"><a href="{% url 'services' %}" class="elementor-item">Services</a></li>
                        </ul>
                      </nav>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="elementor-column elementor-col-30 elementor-top-column elementor-element elementor-element-76b75b7f" data-id="76b75b7f" data-element_type="column" style="text-align: right;">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-725ca35e elementor-widget elementor-widget-button" data-id="725ca35e" data-element_type="widget" data-widget_type="button.default">
                  <div class="elementor-widget-container">
                    
                    <!-- Show sign-in button -->
                    <div class="elementor-element elementor-element-signin-button elementor-widget elementor-widget-button" data-id="signin-button" data-element_type="widget" data-widget_type="button.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                          <a href="{% url 'nursingorderform' %}" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                            <span class="elementor-button-content-wrapper">
                              <span class="elementor-button-text">Place Order</span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
               
                  </div>
                </div>
              </div>
            </div>
            <div class="elementor-column elementor-col-5 elementor-top-column elementor-element elementor-element-dashboard" data-id="dashboard-column" data-element_type="column" style="text-align: right;">
              <div class="elementor-widget-wrap elementor-element-populated">
                {% if user.is_authenticated %}
                  <!-- Show dashboard button -->
                  <div class="elementor-element elementor-element-dashboard-button elementor-widget elementor-widget-button" data-id="dashboard-button" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a href="{% url 'Dashboard' %}" class="elementor-button-link elementor-button elementor-size-sm" role="button" style="text-align: right; color:black; background-color: #ffc43c;">
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">DASHBOARD</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            
            <div class="elementor-column elementor-col-15 elementor-top-column elementor-element elementor-element-logout" data-id="logout-column" data-element_type="column">
              <div class="elementor-widget-wrap elementor-element-populated">
                {% if user.is_authenticated %}
                  <!-- Show logout button -->
                  <div class="elementor-element elementor-element-logout-button elementor-align-right elementor-widget elementor-widget-button" data-id="logout-button" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <form action="{% url 'nursinglogout' %}" method="post" class="logout-form">
                          {% csrf_token %}
                          <button class="elementor-button-link elementor-button elementor-size-sm" type="submit" role="button">
                            <span class="elementor-button-content-wrapper">
                              <span class="elementor-button-text">
                                <i class="fas fa-sign-out-alt"></i> {{ user.username }} 
                              </span>
                            </span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-76b75b7f" data-id="76b75b7f" data-element_type="column" style="text-align: right;">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-725ca35e elementor-widget elementor-widget-button" data-id="725ca35e" data-element_type="widget" data-widget_type="button.default">
                  <div class="elementor-widget-container">
                    {% if not user.is_authenticated %}
                    <!-- Show sign-in button -->
                    <div class="elementor-element elementor-element-signin-button elementor-widget elementor-widget-button" data-id="signin-button" data-element_type="widget" data-widget_type="button.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                          <a href="{% url 'nursinglogin' %}" class="elementor-button-link elementor-button elementor-size-sm" role="button" style="text-align: right; color: black; background-color: #ffc43c;">
                            <span class="elementor-button-content-wrapper" style="text-align: right; background-color: #ffc43c;">
                              <span class="elementor-button-text">SIGN IN</span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
           
            
            </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-58bee3e2 elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="58bee3e2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #043c04;">
      <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-5d4e52b9" data-id="5d4e52b9" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-36ec69cd elementor-widget elementor-widget-heading" data-id="36ec69cd" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <p class="elementor-heading-title elementor-size-default"><a href="{% url 'nursinglogin' %}">Sign In / Register</a></p>
          </div>
        </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-461b1f5e" data-id="461b1f5e" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-42f5e970 elementor-widget elementor-widget-heading" data-id="42f5e970" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <p class="elementor-heading-title elementor-size-default"><a href="{% url 'nursingorderform' %}">Place Order</a></p>
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>
    
      <section class="elementor-section elementor-top-section elementor-element elementor-element-3396353c elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3396353c" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-33efecd3" data-id="33efecd3" data-element_type="column">
    <div class="elementor-widget-wrap">
                </div>
  </div>
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5ed645f7" data-id="5ed645f7" data-element_type="column">
    <div class="elementor-widget-wrap">
                </div>
  </div>
            </div>
  </section>
      </div>
  </div>