<div class="main footer">
	<div data-elementor-type="footer" data-elementor-id="69930" class="elementor elementor-69930 elementor-location-footer" data-elementor-settings="[]">
		<div class="elementor-section-wrap">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-15e3f4e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="15e3f4e0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #043c04;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4dc7d65" data-id="4dc7d65" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-6669faf6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6669faf6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-64172383" data-id="64172383" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7d8e2af7 elementor-widget elementor-widget-heading" data-id="7d8e2af7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Legal
</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-7165caba elementor-widget elementor-widget-text-editor" data-id="7165caba" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Terms And Conditions</p><p>Refund Policy</p><p>Privacy Policy</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-30136bcb" data-id="30136bcb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3769ff92 elementor-widget elementor-widget-heading" data-id="3769ff92" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Other
</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-14fd1436 elementor-widget elementor-widget-text-editor" data-id="14fd1436" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Become A Writer</p><p>Contact Us</p><p>FAQs</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-3f385e20" data-id="3f385e20" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-777f6e91 elementor-widget elementor-widget-heading" data-id="777f6e91" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How Our Service is Used:
</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-9e0bf7a elementor-widget elementor-widget-text-editor" data-id="9e0bf7a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Our essays are NOT intended to be forwarded as finalized work as it is only strictly meant to be used for research and study purposes. We do not endorse or condone any type of plagiarism.</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7866f6a5" data-id="7866f6a5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4360a01d elementor-hidden-phone elementor-widget elementor-widget-image" data-id="4360a01d" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="{% url 'nursingorderform' %}">
							<img width="258" height="110" src="https://bestessayspro.com/wp-content/uploads/2021/10/paypal-checkout-button3-1.png" class="attachment-large size-large" alt="" loading="lazy" />								</a>
															</div>
				</div>
				<div class="elementor-element elementor-element-3754ee33 elementor-widget elementor-widget-image" data-id="3754ee33" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="344" height="44" src="https://bestessayspro.com/wp-content/uploads/2021/10/ezgif.com-gif-maker-3.png" class="attachment-large size-large" alt="" loading="lazy" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-609261c0 elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="609261c0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-310dff7e" data-id="310dff7e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-57547e01 elementor-widget elementor-widget-text-editor" data-id="57547e01" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>College Essay Help</p><p>Best Essay Editor</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-240c2f53" data-id="240c2f53" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1359a4c7 elementor-widget elementor-widget-text-editor" data-id="1359a4c7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Professional Essay Help</p><p>Custom Essay Writing</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-258615a7" data-id="258615a7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2ab20fbe elementor-widget elementor-widget-text-editor" data-id="2ab20fbe" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Buy Essay</p><p>Pay For Essay</p>						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-49d1024f" data-id="49d1024f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-71c75d60 elementor-widget elementor-widget-text-editor" data-id="71c75d60" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Rewrite My Essay</p><p>Blog</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-41cb0ecd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="41cb0ecd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-57d6dbc7 elementor-hidden-phone" data-id="57d6dbc7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-35ec9517 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="35ec9517" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
					<div class="elementor-social-icons-wrapper elementor-grid">
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-ccb59b8" target="_blank">
						<span class="elementor-screen-only">Facebook</span>
						<i class="fab fa-facebook"></i>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-f5e8a09" target="_blank">
						<span class="elementor-screen-only">Twitter</span>
						<i class="fab fa-twitter"></i>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-e5adcfb" target="_blank">
						<span class="elementor-screen-only">Youtube</span>
						<i class="fab fa-youtube"></i>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-6aaf398" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<i class="fab fa-instagram"></i>					</a>
				</span>
					</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-294151ec" data-id="294151ec" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3f17ac2a elementor-widget elementor-widget-heading" data-id="3f17ac2a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">© 2023 compellingessays.com. All rights reserved. Assignments will be listed as ‘Writing Help’ on your bank statement.
</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				</div>
	</div>

	<!--Start of Tawk.to Script (0.5.4)
<script type="text/javascript">
var Tawk_API=Tawk_API||{};
var Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6102fb25649e0a0a5cce92b3/1fbpqa3ps';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
End of Tawk.to Script (0.5.4)-->

<div class="joinchat joinchat--left" data-settings='{"telephone":"13472124325","mobile_only":false,"button_delay":1,"whatsapp_web":true,"message_views":2,"message_delay":10,"message_badge":false,"message_send":"","message_hash":""}'>
	<div class="joinchat__button">
		<div class="joinchat__button__open"></div>
								<div class="joinchat__button__sendtext">Whatsapp us</div>
											<div class="joinchat__tooltip"><div>Whatsapp us</div></div>
			</div>
		<svg height="0" width="0"><defs><clipPath id="joinchat__message__peak"><path d="M17 25V0C17 12.877 6.082 14.9 1.031 15.91c-1.559.31-1.179 2.272.004 2.272C9.609 18.182 17 18.088 17 25z"/></clipPath></defs></svg>
</div>

</div>