
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					<li class="nav-label first">Main Menu</li>
                    <li><a class="ai-icon" href="dashboard" aria-expanded="false">
							<i class='bx bxs-dashboard' ></i>
							<span class="nav-text">Dashboard</span>
						</a>
                    </li>
					<li><a class="ai-icon" href="order" aria-expanded="false">
						<i class='bx bx-plus-circle' ></i>
						<span class="nav-text">Place Order</span>
					</a>
					<li><a class="ai-icon" href="orders" aria-expanded="false">
						<i class='bx bx-cart'></i>
						<span class="nav-text">Orders</span>
					</a>
					<li><a class="ai-icon" href="writers" aria-expanded="false">
						<i class='bx bx-user-circle' ></i>
						<span class="nav-text">Writers</span>
					</a>
					<li><a class="ai-icon" href="transaction" aria-expanded="false">
						<i class='bx bx-wallet' ></i>
						<span class="nav-text">Balance</span>
					</a>
					<li><a class="ai-icon" href="earn" aria-expanded="false">
						<i class='bx bx-dollar-circle' ></i>
						<span class="nav-text">Earn $25</span>
					</a>
					<li><a class="ai-icon" href="promo" aria-expanded="false">
						<i class='bx bxs-discount' ></i>
						<span class="nav-text">My Promo Codes</span>
					</a>
					<li><a class="ai-icon" href="../login" aria-expanded="false">
						<i class='bx bx-log-out-circle' ></i>
						<span class="nav-text">Logout</span>
					</a>
				</li>
                </ul>
				<div class="copyright">
					<p><strong>Accounting Birdie</strong> © 2022 All Rights Reserved</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->