
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin Dashboard</title>

  <link href="https://templates.essaywpthemes.com/order/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/116a312519.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Lato:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <script src="https://templates.essaywpthemes.com/order/public/bootstrap/js/jquery.min.js"></script>
  <script src="https://templates.essaywpthemes.com/order/public/bootstrap/js/bootstrap.min.js"></script>
  <!-- Custom fonts for this template -->
  <script src="https://kit.fontawesome.com/f53431686e.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/116a312519.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="https://templates.essaywpthemes.com/order/public/admin/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">
      <div class="logo-box">
        <a class="current" href="https://templates.essaywpthemes.com/order/adorders/dashboard" title=""><img src="/order/assets/images/logo_1.svg" class="hero-logo" alt=""></a>
      </div>
      <form action="https://templates.essaywpthemes.com/order/adorders/getid" method="post" class="row">
        <input name="searchid" class="col-sm-9 form-control header-box border-default" placeholder="Search order by ID" type="text">
        <button type="submit" class="btn-search"> <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link rounded js-scroll-trigger" href="https://templates.essaywpthemes.com/order/order/adconfigs"><img src="/order/assets/images/settings.svg"> Settings</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/order/assets/images/messages.svg"><span class="header-badge blue">1</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/order/assets/images/alerts.svg"><span class="header-badge green">16 </span>
            </a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link rounded js-scroll-trigger" href="https://templates.essaywpthemes.com/order/admin/logout"><img src="/order/assets/images/logout.svg" class="logout"><strong> Logout</strong></a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link rounded js-scroll-trigger" href="https://templates.essaywpthemes.com/order/admin/profile"><img src="/order/assets/images/6.jpg" class="avatar"> Admin </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>    <!-- Portfolio Grid Section -->
    <section class="" id="portfolio">
      <div class="container">
        <div class="row">

          <div class="col-sm-2 sidebar-background">
            <div class="admin-menu-links">

              <p class="side-order-btn"><a class="text-white" href="https://templates.essaywpthemes.com/order/adorders/add"> New Order</a></p>


              <p><a href="https://templates.essaywpthemes.com/order/adorders/dashboard"><img src="/order/assets/images/home.svg"> Dashboard</a></p>

              <p><a href="https://templates.essaywpthemes.com/order/adorders/bidding"><img src="/order/assets/images/orders.svg"> Orders (16) </a></p>

              <p><a href="https://templates.essaywpthemes.com/order/adorders/bids"><img src="/order/assets/images/bid.svg"> Bids (1) </a></p>
              <p><a href="https://templates.essaywpthemes.com/order/adorders/users"><img src="/order/assets/images/users.svg"> Users (17)</a></p>

              <p><a href="https://templates.essaywpthemes.com/order/adsms/communicate"><img src="/order/assets/images/messages.svg"> Messages (1)</a></p>


              <p><a href="https://templates.essaywpthemes.com/order/adpay/winvoices"><img src="/order/assets/images/pay.svg"> Writer Pay</a></p>

              <p><a href="https://templates.essaywpthemes.com/order/adorders/alerts"><img src="/order/assets/images/alerts.svg"> Alerts (0)</a></p>


              <p><a href="https://templates.essaywpthemes.com/order/adconfigs/allpayments"><img src="/order/assets/images/payments.svg"> Payments (0)</a></p>





              <p><a href="https://templates.essaywpthemes.com/order/adpay"><img src="/order/assets/images/finances.svg"> Finances (0)</a></p>              <!--<p><a href="https://templates.essaywpthemes.com/order/adaffiliate/configs"><i class="fas fa-code-branch fa-1x"></i> Affiliates </a></p>-->

              <p><a href="https://templates.essaywpthemes.com/order/adorders/rated"><img src="/order/assets/images/reviews.svg"> Reviews (0) </a></p>
              <p><a href="https://templates.essaywpthemes.com/order/adwriters/news"><img src="/order/assets/images/edit.svg"> NEWS </a></p>
              <!-- 
              <p><a href="https://templates.essaywpthemes.com/order/adwriters/quality"><i class="fa fa-fire fa-1x"></i> Writer Quality </a></p>
              <p><a href="https://templates.essaywpthemes.com/order/adwriters/questions"><i class="fas fa-users fa-1x"></i> Writer Tests </a></p 
              -->
              <p><a href="https://templates.essaywpthemes.com/order/adconfigs"><img src="/order/assets/images/settings.svg"> Settings</a></p>
            </div>
          </div>



          <div class="col-sm-10 dash-home">


    <div class="row">
        
         
        <div class="col-sm-3">
            <select class="border-default custom-select" name="forma" onchange="location=this.value">
                <option value="https://templates.essaywpthemes.com/order/adclients/all/15">Select site</option>
                <option value="https://templates.essaywpthemes.com/order/adclients/all/15">All</option>
                                <option value="https://templates.essaywpthemes.com/order/adclients/site/searchpit.com">
                    searchpit.com</option>
                                <option value="https://templates.essaywpthemes.com/order/adclients/site/templates.essaywpthemes.com">
                    templates.essaywpthemes.com</option>
                
            </select>

        </div>
                <div class="col-sm-3">

            <select class="border-default custom-select" name="forma" onchange="location=this.value">
                <option value="https://templates.essaywpthemes.com/order/adclients/all/">Select Category</option>
                <option value="https://templates.essaywpthemes.com/order/adclients/all/">All</option>

                                <option value="https://templates.essaywpthemes.com/order/adclients/categ/15">
                    Silver category</option>

                                <option value="https://templates.essaywpthemes.com/order/adclients/categ/30">
                    Gold category</option>

                                <option value="https://templates.essaywpthemes.com/order/adclients/categ/60">
                    Platinum category</option>

                                <option value="https://templates.essaywpthemes.com/order/adclients/categ/0">
                    Standard</option>

                


            </select>
        </div>
        <div class="col-sm-4">
            <form action="https://templates.essaywpthemes.com/order/adclients/getclient" method="post" class="row">
                <input name="search" class="border-default custom-select"
                    placeholder="Search by id/email/nickname" type="text">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-sm-1"><a class="btn btn-info" href="https://templates.essaywpthemes.com/order/adclients/all">Clear search</a>
        </div>


    </div>

    <hr /><div class="row">

    <div class="col-sm-1">ID</div>
    <div class="col-sm-4">Email/Phone</div>
    <div class="col-sm-1">Nick Name</div>
     <div class="col-sm-2">From site</div>    <div class="col-sm-1">Completed</div>
    <div class="col-sm-1">Assigned</div>
    <div class="col-sm-1">Revision</div>
    <div class="col-sm-1">Approved</div>
</div>
<hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/141">#141</a>
        </div>
         <div class="col-sm-4">
                 (hassan.cheema9090@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+9203484165127&text=Hi%2C%20need%20Assignment%20Help"> +9203484165127</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/141" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+9203484165127&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/141" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C141

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/140">#140</a>
        </div>
         <div class="col-sm-4">
                 (favourmaxwelleppie@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+2342348154948333&text=Hi%2C%20need%20Assignment%20Help"> +2342348154948333</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/140" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+2342348154948333&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/140" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C140

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/139">#139</a>
        </div>
         <div class="col-sm-4">
                Gilton Amadadi (amadadigilton216@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+2540719320764&text=Hi%2C%20need%20Assignment%20Help"> +2540719320764</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/139" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+2540719320764&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/139" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C139

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/138">#138</a>
        </div>
         <div class="col-sm-4">
                Abdul Nafay (a@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+2993052501530&text=Hi%2C%20need%20Assignment%20Help"> +2993052501530</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/138" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+2993052501530&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/138" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C138

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/137">#137</a>
        </div>
         <div class="col-sm-4">
                Nafay Abdul (abdulnafa1122@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+9203052501530&text=Hi%2C%20need%20Assignment%20Help"> +9203052501530</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/137" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+9203052501530&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/137" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C137

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/136">#136</a>
        </div>
         <div class="col-sm-4">
                Imran Talib (kedebi7593@orgria.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+9203066008619&text=Hi%2C%20need%20Assignment%20Help"> +9203066008619</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/136" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+9203066008619&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/136" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C136

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/135">#135</a>
        </div>
         <div class="col-sm-4">
                 (hammadbukhari4267@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+103069350681&text=Hi%2C%20need%20Assignment%20Help"> +103069350681</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/135" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+103069350681&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/135" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C135

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/134">#134</a>
        </div>
         <div class="col-sm-4">
                Josh (client@opskill.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+1454545454&text=Hi%2C%20need%20Assignment%20Help"> +1454545454</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/134" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+1454545454&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/134" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C134

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/133">#133</a>
        </div>
         <div class="col-sm-4">
                 (admin@essaywpthemes.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+1&text=Hi%2C%20need%20Assignment%20Help"> +1</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/133" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+1&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/133" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C133

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/132">#132</a>
        </div>
         <div class="col-sm-4">
                Raymond (raymond.muthui@virtual-pay.io)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+11200555666&text=Hi%2C%20need%20Assignment%20Help"> +11200555666</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/132" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+11200555666&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/132" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C132

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/131">#131</a>
        </div>
         <div class="col-sm-4">
                 (kawi3462@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+2540710884144&text=Hi%2C%20need%20Assignment%20Help"> +2540710884144</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/131" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+2540710884144&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/131" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C131

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/130">#130</a>
        </div>
         <div class="col-sm-4">
                Golden CV Ltd, Company (info.goldencv@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+447883262918&text=Hi%2C%20need%20Assignment%20Help"> +447883262918</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/130" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+447883262918&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/130" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C130

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/129">#129</a>
        </div>
         <div class="col-sm-4">
                hklhjklh (tfasdfds@gmail.co)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+197870987&text=Hi%2C%20need%20Assignment%20Help"> +197870987</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/129" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+197870987&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/129" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C129

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/128">#128</a>
        </div>
         <div class="col-sm-4">
                 (eswarwrt@gmail.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+8800171858655&text=Hi%2C%20need%20Assignment%20Help"> +8800171858655</small></a>

                <hr />
                <a href="https://templates.essaywpthemes.com/order/client/adlogin/128" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+8800171858655&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/128" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C128

        </div>
         <div class="col-sm-2">
                <small> templates.essaywpthemes.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-1"><a href="https://templates.essaywpthemes.com/order/adclients/view/127">#127</a>
        </div>
         <div class="col-sm-4">
                Client (client@essaywpthemes.com)<br />
                <small><a target="_blank" href="https://api.whatsapp.com/send?phone=+112345678&text=Hi%2C%20need%20Assignment%20Help"> +112345678</small></a>

                <hr />
                <a href="https://searchpit.com/order/client/adlogin/127" class="btn btn-info btn-sm" target="_blank"> Log in as client </a>
<!--
                <a href="https://api.whatsapp.com/send?phone=+112345678&text=Hi%2C%20need%20Assignment%20Help" class="btn btn-sm btn-success" target="_blank">Whatsapp</a>
        -->
                <a href="https://templates.essaywpthemes.com/order/adclients/edit/127" class="btn btn-sm btn-warning" target="_blank">Edit details</a>

            </div>        <div class="col-sm-1">C1

        </div>
         <div class="col-sm-2">
                <small> searchpit.com </small>
            </div>        <div class="col-sm-1"> 0
        </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
        <div class="col-sm-1"> 0 </div>
    </div>
    <hr />
Total CLients: <div class="pagination float-right">
    <li></li>
</div>
    
</div>

</div>


</div>
</section>



</body>

</html>