<div class="col-sm-2" style="background-color: #00585c;">
    <div class="admin-menu-links">

      <p class="side-order-btn"><a class="text-white" href=""> Top Writers Admin</a></p>


      <p><a href="{% url 'admindashboard' %} "><img src="https://templates.essaywpthemes.com/order/assets/images/home.svg"> Dashboard</a></p>

      <p><a href="{% url 'allorders' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/orders.svg"> Orders ({{totalorder}}) </a></p>

      <p><a href="{% url 'adminbids' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/bid.svg"> Bids ({{bid_orders_count}}) </a></p>
      <p><a href="{% url 'adminbids' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/users.svg"> Users (11)</a></p>

      <p><a href="{% url 'admindashboard' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/messages.svg"> Messages (1)</a></p>

    


      <p><a href="{% url 'admindashboard' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/pay.svg"> Writer Pay</a></p>

      <p><a href="{% url 'admindashboard' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/alerts.svg"> Alerts (0)</a></p>


      <p><a href="{% url 'admindashboard' %}"><img src="https://templates.essaywpthemes.com/order/assets/images/payments.svg"> Payments (0)</a></p>





      <p><a href="https://templates.essaywpthemes.com/order/adpay"><img src="https://templates.essaywpthemes.com/order/assets/images/finances.svg"> Finances (0)</a></p>              <!--<p><a href="https://templates.essaywpthemes.com/order/adaffiliate/configs"><i class="fas fa-code-branch fa-1x"></i> Affiliates </a></p>-->

      <p><a href="https://templates.essaywpthemes.com/order/adorders/rated"><img src="https://templates.essaywpthemes.com/order/assets/images/reviews.svg"> Reviews (0) </a></p>

      <!-- 
      <p><a href="https://templates.essaywpthemes.com/order/adwriters/quality"><i class="fa fa-fire fa-1x"></i> Writer Quality </a></p>
      <p><a href="https://templates.essaywpthemes.com/order/adwriters/questions"><i class="fas fa-users fa-1x"></i> Writer Tests </a></p 
      -->
      <p><a href="https://templates.essaywpthemes.com/order/adconfigs"><img src="https://templates.essaywpthemes.com/order/assets/images/settings.svg"> Settings</a></p>
    </div>
  </div>